# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# SQLite database
*.db
*.sqlite3
instance/

# Jupyter Notebooks
*.ipynb

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache

# Pytest
.pytest_cache/

# Misc
*.bak
*.swp
*.swo

# Environment variables
.env
.env.*
